# laboratory work №2

In [65]:
import pandas as pd
import urllib.request
from datetime import datetime

import ssl
import os
from os import walk

import glob

from pathlib import Path
import re

In [66]:
import sys
print(sys.executable)

/usr/local/bin/python3

Prepare to lab and something 🥰

In [67]:
directory = "./NOAA_files"
if not Path(directory).is_dir():
     os.mkdir("./NOAA_files")
     print("New directory created")

## task 1

**1** Downloading all 29 files in the directory with check if some files already exist with beging of the pattern name "NOAA_ID{i}"

**2** Ability to upload files with cheking for existence

In [68]:
for i in range(1,28):

    name = "NOAA_ID" + str(i) + "*"
    url=f'https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={i}&year1=1981&year2=2024&type=Mean'

    if glob.glob(os.path.join(directory, name)):
        print("File of this obl exist: " + str(i))
        continue

    wp = urllib.request.urlopen(url)
    text = wp.read()

    now = datetime.now()
    date_and_time_time = now.strftime("%d%m%Y%H%M%S")  

    out = open(os.path.join(directory, 'NOAA_ID'+str(i)+'_'+date_and_time_time+'.csv'),'wb')
   
    out.write(text)
    out.close()

    print(f"File saved to: {out}")

File of this obl exist: 1
File of this obl exist: 2
File of this obl exist: 3
File of this obl exist: 4
File of this obl exist: 5
File of this obl exist: 6
File of this obl exist: 7
File of this obl exist: 8
File of this obl exist: 9
File of this obl exist: 10
File of this obl exist: 11
File of this obl exist: 12
File of this obl exist: 13
File of this obl exist: 14
File of this obl exist: 15
File of this obl exist: 16
File of this obl exist: 17
File of this obl exist: 18
File of this obl exist: 19
File of this obl exist: 20
File of this obl exist: 21
File of this obl exist: 22
File of this obl exist: 23
File of this obl exist: 24
File of this obl exist: 25
File of this obl exist: 26
File of this obl exist: 27

## task 2

+ Creating dataFrame with files from directory
+ Adding index through regular (from file's name)

In [69]:

def reading_text(directory):
    headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'empty']
    dfs = []

    # filenames = next(os.walk(directory), (None, None, []))[2] 
    filenames = os.listdir(directory)
    #print(filenames)
    for filename in filenames:
        print(filename)
        if filename.startswith("NOAA") and filename.endswith(".csv"):
            
            j = int(re.search('\d+', filename).group())
            #print(j)

            file_path = os.path.join(directory, filename)
            df = pd.read_csv(file_path, header=1, names=headers)

            df = df.drop(df.loc[df['VHI'] == -1].index)
            
            dfs.append(df)
            df['area'] = j
            
            
            
    final_df = pd.concat(dfs, ignore_index=True)
    
    final_df = final_df.map(lambda x: re.sub(r'[^\d]', '', str(x)).strip() if isinstance(x, str) else x)
    final_df['Year'] = pd.to_numeric(final_df['Year'])
    final_df['Year'] = final_df['Year'].fillna(0).astype(int)
    
    print(final_df.shape) 
        
    print(final_df)
   
    return(final_df)

- concatenate all the DataFrames in the list into a single DataFrame using the pd.concat() function.
- The ignore_index=True argument is used to reset the index of the final DataFrame.

In [70]:
final_df = reading_text(directory)

#print(final_df[final_df['area'] == 9])

NOAA_ID4_07102024121233.csv
NOAA_ID20_07102024121249.csv
NOAA_ID12_07102024121241.csv
NOAA_ID7_07102024121236.csv
NOAA_ID21_07102024121250.csv
NOAA_ID22_07102024121251.csv
NOAA_ID11_07102024121240.csv
NOAA_ID24_07102024121253.csv
NOAA_ID27_07102024121256.csv
NOAA_ID14_07102024121243.csv
NOAA_ID17_07102024121246.csv
NOAA_ID10_07102024121239.csv
NOAA_ID25_07102024121254.csv
NOAA_ID16_07102024121245.csv
NOAA_ID3_07102024121232.csv
NOAA_ID2_07102024121229.csv
NOAA_ID15_07102024121244.csv
NOAA_ID1_07102024121228.csv
NOAA_ID26_07102024121255.csv
NOAA_ID18_07102024121247.csv
NOAA_ID19_07102024121248.csv
NOAA_ID5_07102024121234.csv
NOAA_ID23_07102024121252.csv
NOAA_ID8_07102024121237.csv
NOAA_ID9_07102024121238.csv
NOAA_ID13_07102024121242.csv

NOAA_ID6_07102024121235.csv
(58698, 9)
       Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
0      1982   1.0  0.076  269.58  33.30  36.44  34.87    NaN     4
1      1982   2.0  0.070  269.26  30.50  37.03  33.76    NaN     4
2      1982   3.0  0.066  269.06  28.49  38.33  33.41    NaN     4
3      1982   4.0  0.063  269.28  25.78  39.94  32.86    NaN     4
4      1982   5.0  0.064  270.09  25.43  39.25  32.34    NaN     4
...     ...   ...    ...     ...    ...    ...    ...    ...   ...
58693  2024  36.0  0.241  301.90  41.52   7.93  24.73    NaN     6
58694  2024  37.0  0.232  300.52  44.96   4.17  24.57    NaN     6
58695  2024  38.0  0.225  299.13  50.31   1.91  26.11    NaN     6
58696  2024  39.0  0.220  297.26  55.59   0.82  28.20    NaN     6
58697     0   NaN    NaN     NaN    NaN    NaN    NaN    NaN     6

[58698 rows x 9 columns]

## task 3

* changing index

In [71]:
def index_change():
    index_ch = {1: 22, 2: 24, 3: 23, 4: 25, 5: 3, 6: 4, 7: 8, 8: 19, 9: 20, 10: 21, 11: 9, 12: 9, 13: 10, 14: 11, 15: 12, 16: 13, 17: 14, 18: 15, 19: 16, 20: 25, 21: 17, 22: 18, 23: 6, 24: 1, 25: 2, 26: 7, 27: 5}

    final_df['area'] = final_df['area'].replace(index_ch)

    print(final_df.head())

In [72]:
index_change()
final_df.head()
print(final_df.dtypes)

   Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
0  1982   1.0  0.076  269.58  33.30  36.44  34.87    NaN    25
1  1982   2.0  0.070  269.26  30.50  37.03  33.76    NaN    25
2  1982   3.0  0.066  269.06  28.49  38.33  33.41    NaN    25
3  1982   4.0  0.063  269.28  25.78  39.94  32.86    NaN    25
4  1982   5.0  0.064  270.09  25.43  39.25  32.34    NaN    25
Year       int64
Week     float64
SMN      float64
SMT      float64
VCI      float64
TCI      float64
VHI      float64
empty    float64
area       int64
dtype: object

## task 4

### 4.0

#### VHI series for the region for the year indicated 
- parametrs : region and year
- return : vhi

In [73]:
def vhi_region(index_region, year):
    return final_df[(final_df['area'] == index_region) & (final_df["Year"] == year)][['Year', 'area', 'VHI']]

In [74]:
print(vhi_region(5, 1982))

       Year  area    VHI
17392  1982     5  49.50
17393  1982     5  48.62
17394  1982     5  48.86
17395  1982     5  46.28
17396  1982     5  43.61
17397  1982     5  41.71
17398  1982     5  38.74
17399  1982     5  37.61
17400  1982     5  36.98
17401  1982     5  36.44
17402  1982     5  35.44
17403  1982     5  37.76
17404  1982     5  38.21
17405  1982     5  38.85
17406  1982     5  41.55
17407  1982     5  45.65
17408  1982     5  48.48
17409  1982     5  50.68
17410  1982     5  51.64
17411  1982     5  53.00
17412  1982     5  55.58
17413  1982     5  56.63
17414  1982     5  56.16
17415  1982     5  54.76
17416  1982     5  54.28
17417  1982     5  53.63
17418  1982     5  53.13
17419  1982     5  54.73
17420  1982     5  57.68
17421  1982     5  59.19
17422  1982     5  57.83
17423  1982     5  56.45
17424  1982     5  55.68
17425  1982     5  52.51
17426  1982     5  51.18
17427  1982     5  50.60
17428  1982     5  49.39
17429  1982     5  51.20
17430  1982     5  51.80
17431  1982     5  48.20
17432  1982     5  41.47
17433  1982     5  38.89
17434  1982     5  40.06
17435  1982     5  36.44
17436  1982     5  32.17
17437  1982     5  31.70
17438  1982     5  33.00
17439  1982     5  34.15
17440  1982     5  32.51
17441  1982     5  29.88
17442  1982     5  30.09
17443  1982     5  29.69

### 4.1

- Search for extremes (min and max) for the specified regions and years,mean, median;

+ ->region, year
+ <- min, max, meean and median values

In [75]:
def extremes(year, regions):
    data = final_df[(final_df['Year'] >= year[0]) & (final_df['Year'] <= year[1]) & 
                    (final_df['area'] >= regions[0]) & (final_df['area'] <= regions[1])] 
    
    min_v = data['VHI'].min()
    max_v =  data['VHI'].max()
    mean_v = data['VHI'].mean()
    median_v = data['VHI'].median()
    return("Extremes: min-" + str(min_v) + " max-" + str(max_v) + " mean-" + str(mean_v) + " median-" + str(median_v))

In [76]:
print(extremes([1984, 1990], [11, 15]))

Extremes: min-12.45 max-86.6 mean-44.08454390934844 median-42.85

### 4.2

- A series of VHIs for the specified range of years for the specified regions

+ -> range[], regions[]
+ <- VHI

In [77]:
def specified_range(year, region):
    data = final_df[(final_df['Year'] >= year[0]) & (final_df['Year'] <= year[1]) & 
                    (final_df['area'] >= region[0]) & (final_df['area'] <= region[1])] 
    # print(data['area'].unique())
    fdata = data.sort_values(by='area')
    #print(fdata['area'].unique())
    return fdata[['Year', 'area', 'VHI']]

In [78]:
#print(final_df[final_df['area'] == 12])
print(specified_range([1990, 1997], [2,14]))

       Year  area    VHI
26549  1991     2  43.04
26550  1991     2  40.60
26615  1992     2  60.19
26616  1992     2  59.20
26617  1992     2  55.68
...     ...   ...    ...
22525  1997    14  88.98
22526  1997    14  86.20
22527  1997    14  83.07
22539  1997    14  39.66
22500  1997    14  46.33

[5558 rows x 3 columns]

### 4.3

- For the entire dataset, identify the years during which extreme drought affected more than the specified percentage of regions in Ukraine (20% of regions - 5 regions out of 25). Return years, names of regions with extreme droughts and the VHI value;

- VHI < 15 – посуха, інтенсивність якої від середньої до надзвичайної;
- creat dataFrame with nead values of VHI for some years (count from percent) and region

In [79]:
def droughts(percent):

    count = int((percent*25)/100)
    print(count)
    drought = final_df[final_df['VHI'] < 15]
    count_of_obl = drought.groupby(by='Year')['area'].count()
    # print(count_of_obl)
    years_d = count_of_obl[count_of_obl > count].index

    return drought[drought['Year'].isin(years_d)][['Year', 'VHI', 'area']]

In [80]:
print(droughts(20))

5
       Year    VHI  area
1279   2007  14.98    25
1280   2007  14.23    25
1281   2007  13.79    25
1282   2007  13.41    25
1283   2007  13.28    25
...     ...    ...   ...
57132  1993  11.34     4
57133  1993   8.02     4
57134  1993   6.26     4
57135  1993   7.45     4
57136  1993  11.29     4

[96 rows x 3 columns]