# laboratory work №2

In [424]:
import pandas as pd
import urllib.request
from datetime import datetime

import ssl
import os
from os import walk

import glob

from pathlib import Path
import re

In [425]:
import sys
print(sys.executable)

/usr/local/bin/python3

Prepare to lab and something 🥰

In [426]:
directory = "./NOAA_files"
if not Path(directory).is_dir():
     os.mkdir("./NOAA_files")
     print("New directory created")

## task 1

**1** Downloading all 29 files in the directory with check if some files already exist with beging of the pattern name "NOAA_ID{i}"

**2** Ability to upload files with cheking for existence

In [427]:
for i in range(1,28):

    name = "NOAA_ID" + str(i) + "*"
    url=f'https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={i}&year1=1981&year2=2024&type=Mean'

    if glob.glob(os.path.join(directory, name)):
        print("File of this obl exist: " + str(i))
        continue

    wp = urllib.request.urlopen(url)
    text = wp.read()

    now = datetime.now()
    date_and_time_time = now.strftime("%d%m%Y%H%M%S")  

    out = open(os.path.join(directory, 'NOAA_ID'+str(i)+'_'+date_and_time_time+'.csv'),'wb')
   
    out.write(text)
    out.close()

    print(f"File saved to: {out}")

File of this obl exist: 1
File of this obl exist: 2
File of this obl exist: 3
File of this obl exist: 4
File of this obl exist: 5
File of this obl exist: 6
File of this obl exist: 7
File of this obl exist: 8
File of this obl exist: 9
File of this obl exist: 10
File of this obl exist: 11
File of this obl exist: 12
File of this obl exist: 13
File of this obl exist: 14
File of this obl exist: 15
File of this obl exist: 16
File of this obl exist: 17
File of this obl exist: 18
File of this obl exist: 19
File of this obl exist: 20
File of this obl exist: 21
File of this obl exist: 22
File of this obl exist: 23
File of this obl exist: 24
File of this obl exist: 25
File of this obl exist: 26
File of this obl exist: 27

## task 2

+ Creating dataFrame with files from directory
+ Adding index through regular (from file's name)

In [428]:

def reading_text(directory):
    headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'empty']
    dfs = []

    # filenames = next(os.walk(directory), (None, None, []))[2] 
    filenames = os.listdir(directory)
    #print(filenames)
    for filename in filenames:
        print(filename)
        if filename.startswith("NOAA") and filename.endswith(".csv"):
            
            j = int(re.search('\d+', filename).group())
            #print(j)

            file_path = os.path.join(directory, filename)
            df = pd.read_csv(file_path, header=1, names=headers)

            df = df.drop(df.loc[df['VHI'] == -1].index)
            
            dfs.append(df)
            df['area'] = j
            
            
            
    final_df = pd.concat(dfs, ignore_index=True)
    
    final_df = final_df.map(lambda x: re.sub(r'[^\d]', '', str(x)).strip() if isinstance(x, str) else x)
    final_df['Year'] = pd.to_numeric(final_df['Year'])
    final_df['Year'] = final_df['Year'].fillna(0).astype(int)
    
    print(final_df.shape) 
        
    print(final_df)
   
    return(final_df)

- concatenate all the DataFrames in the list into a single DataFrame using the pd.concat() function.
- The ignore_index=True argument is used to reset the index of the final DataFrame.

In [429]:
final_df = reading_text(directory)

#print(final_df[final_df['area'] == 9])

NOAA_ID10_23092024090220.csv
NOAA_ID23_23092024090232.csv
NOAA_ID13_23092024090224.csv
NOAA_ID2_23092024085236.csv
NOAA_ID7_23092024085240.csv
.DS_Store
NOAA_ID20_23092024090230.csv
NOAA_ID1_23092024085235.csv
NOAA_ID16_23092024090226.csv
NOAA_ID25_23092024090235.csv
NOAA_ID5_23092024085239.csv
NOAA_ID15_23092024090225.csv
NOAA_ID26_23092024090235.csv
NOAA_ID19_23092024090229.csv
NOAA_ID9_23092024090218.csv
NOAA_ID24_23092024090233.csv
NOAA_ID14_23092024090224.csv
NOAA_ID4_23092024085238.csv
NOAA_ID27_23092024090236.csv
NOAA_ID18_23092024090228.csv
NOAA_ID17_23092024090227.csv
NOAA_ID8_23092024085241.csv
NOAA_ID12_23092024090223.csv
NOAA_ID21_23092024090230.csv
NOAA_ID11_23092024090222.csv
NOAA_ID22_23092024090231.csv
NOAA_ID3_23092024085237.csv
NOAA_ID6_23092024085240.csv

(58644, 9)
       Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
0      1982   1.0  0.059  258.24  51.11  48.78  49.95    NaN    10
1      1982   2.0  0.063  261.53  55.89  38.20  47.04    NaN    10
2      1982   3.0  0.063  263.45  57.30  32.69  44.99    NaN    10
3      1982   4.0  0.061  265.10  53.96  28.62  41.29    NaN    10
4      1982   5.0  0.058  266.42  46.87  28.57  37.72    NaN    10
...     ...   ...    ...     ...    ...    ...    ...    ...   ...
58639  2024  34.0  0.270  303.73  40.38  16.82  28.61    NaN     6
58640  2024  35.0  0.257  302.96  41.31  13.56  27.45    NaN     6
58641  2024  36.0  0.246  301.76  44.15   9.28  26.72    NaN     6
58642  2024  37.0  0.238  300.45  48.72   4.85  26.79    NaN     6
58643     0   NaN    NaN     NaN    NaN    NaN    NaN    NaN     6

[58644 rows x 9 columns]

## task 3

* changing index

In [430]:
def index_change():
    index_ch = {1: 22, 2: 24, 3: 23, 4: 25, 5: 3, 6: 4, 7: 8, 8: 19, 9: 20, 10: 21, 11: 9, 12: 9, 13: 10, 14: 11, 15: 12, 16: 13, 17: 14, 18: 15, 19: 16, 20: 25, 21: 17, 22: 18, 23: 6, 24: 1, 25: 2, 26: 7, 27: 5}

    final_df['area'] = final_df['area'].replace(index_ch)

    print(final_df.head())

In [431]:
index_change()
final_df.head()
print(final_df.dtypes)

   Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
0  1982   1.0  0.059  258.24  51.11  48.78  49.95    NaN    21
1  1982   2.0  0.063  261.53  55.89  38.20  47.04    NaN    21
2  1982   3.0  0.063  263.45  57.30  32.69  44.99    NaN    21
3  1982   4.0  0.061  265.10  53.96  28.62  41.29    NaN    21
4  1982   5.0  0.058  266.42  46.87  28.57  37.72    NaN    21
Year       int64
Week     float64
SMN      float64
SMT      float64
VCI      float64
TCI      float64
VHI      float64
empty    float64
area       int64
dtype: object

## task 4

### 4.0

#### VHI series for the region for the year indicated 
- parametrs : region and year
- return : vhi

In [432]:
def vhi_region(index_region, year):
    return final_df[(final_df['area'] == index_region) & (final_df["Year"] == year)]

In [433]:
print(vhi_region(5, 1982))

       Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
36924  1982   1.0  0.083  261.70  57.78  41.22  49.50    NaN     5
36925  1982   2.0  0.092  264.40  65.82  31.42  48.62    NaN     5
36926  1982   3.0  0.097  265.74  70.62  27.11  48.86    NaN     5
36927  1982   4.0  0.101  267.73  71.82  20.73  46.28    NaN     5
36928  1982   5.0  0.102  268.87  65.88  21.34  43.61    NaN     5
36929  1982   6.0  0.103  269.80  58.54  24.88  41.71    NaN     5
36930  1982   7.0  0.104  271.19  52.98  24.51  38.74    NaN     5
36931  1982   8.0  0.107  272.53  50.30  24.93  37.61    NaN     5
36932  1982   9.0  0.108  273.73  47.48  26.48  36.98    NaN     5
36933  1982  10.0  0.109  275.00  43.63  29.24  36.44    NaN     5
36934  1982  11.0  0.117  276.51  41.24  29.63  35.44    NaN     5
36935  1982  12.0  0.127  278.00  38.89  36.62  37.76    NaN     5
36936  1982  13.0  0.135  279.41  33.32  43.09  38.21    NaN     5
36937  1982  14.0  0.145  280.79  26.13  51.57  38.85    NaN     5
36938  1982  15.0  0.154  281.85  17.49  65.61  41.55    NaN     5
36939  1982  16.0  0.177  283.32  16.35  74.95  45.65    NaN     5
36940  1982  17.0  0.211  285.27  18.91  78.06  48.48    NaN     5
36941  1982  18.0  0.263  287.61  28.29  73.07  50.68    NaN     5
36942  1982  19.0  0.316  289.67  37.51  65.76  51.64    NaN     5
36943  1982  20.0  0.359  291.13  43.74  62.27  53.00    NaN     5
36944  1982  21.0  0.390  291.61  46.89  64.27  55.58    NaN     5
36945  1982  22.0  0.407  291.68  46.95  66.31  56.63    NaN     5
36946  1982  23.0  0.415  291.80  44.97  67.35  56.16    NaN     5
36947  1982  24.0  0.416  291.89  40.51  69.00  54.76    NaN     5
36948  1982  25.0  0.413  291.89  36.05  72.51  54.28    NaN     5
36949  1982  26.0  0.410  291.91  33.23  74.04  53.63    NaN     5
36950  1982  27.0  0.412  292.34  34.11  72.15  53.13    NaN     5
36951  1982  28.0  0.417  292.91  39.42  70.03  54.73    NaN     5
36952  1982  29.0  0.425  293.47  48.36  67.00  57.68    NaN     5
36953  1982  30.0  0.424  293.79  52.55  65.83  59.19    NaN     5
36954  1982  31.0  0.422  294.09  54.26  61.41  57.83    NaN     5
36955  1982  32.0  0.413  293.95  52.18  60.72  56.45    NaN     5
36956  1982  33.0  0.410  293.80  54.53  56.83  55.68    NaN     5
36957  1982  34.0  0.407  293.78  59.29  45.73  52.51    NaN     5
36958  1982  35.0  0.400  293.11  62.62  39.74  51.18    NaN     5
36959  1982  36.0  0.388  292.19  65.48  35.71  50.60    NaN     5
36960  1982  37.0  0.371  291.16  65.99  32.80  49.39    NaN     5
36961  1982  38.0  0.352  289.50  65.91  36.50  51.20    NaN     5
36962  1982  39.0  0.328  287.61  64.37  39.22  51.80    NaN     5
36963  1982  40.0  0.295  285.83  58.33  38.07  48.20    NaN     5
36964  1982  41.0  0.259  284.11  49.38  33.57  41.47    NaN     5
36965  1982  42.0  0.231  282.39  46.94  30.84  38.89    NaN     5
36966  1982  43.0  0.204  280.33  45.87  34.26  40.06    NaN     5
36967  1982  44.0  0.180  278.43  45.90  26.99  36.44    NaN     5
36968  1982  45.0  0.150  276.31  40.45  23.89  32.17    NaN     5
36969  1982  46.0  0.127  274.15  39.99  23.41  31.70    NaN     5
36970  1982  47.0  0.108  272.12  41.23  24.77  33.00    NaN     5
36971  1982  48.0  0.087  269.31  35.31  32.99  34.15    NaN     5
36972  1982  49.0  0.071  266.99  27.18  37.84  32.51    NaN     5
36973  1982  50.0  0.061  265.48  22.19  37.57  29.88    NaN     5
36974  1982  51.0  0.059  264.21  24.00  36.19  30.09    NaN     5
36975  1982  52.0  0.055  263.49  24.37  35.02  29.69    NaN     5

### 4.1

- Search for extremes (min and max) for the specified regions and years,mean, median;

+ ->region, year
+ <- min, max, meean and median values

In [434]:
def extremes(region, year):
    min_v = final_df[(final_df['area'] == region) & (final_df['Year'] == year)]['VHI'].min()
    max_v =  final_df[(final_df['area'] == region) & (final_df['Year'] == year)]['VHI'].max()
    mean_v = final_df[(final_df['area'] == region) & (final_df['Year'] == year)]['VHI'].mean()
    median_v = final_df[(final_df['area'] == region) & (final_df['Year'] == year)]['VHI'].median()
    return("Extremes: min-" + str(min_v) + " max-" + str(max_v) + " mean-" + str(mean_v) + " median-" + str(median_v))

In [435]:
print(extremes(11, 1984))

Extremes: min-23.06 max-62.09 mean-35.93306122448979 median-35.21

### 4.2

- A series of VHIs for the specified range of years for the specified regions

+ -> range[], regions[]
+ <- VHI

In [436]:
def specified_range(year, region):
    data = final_df[(final_df['Year'] >= year[0]) & (final_df['Year'] <= year[1]) & (final_df['area'] >= region[0]) & (final_df['area'] < region[1])]
    return (data)

It's not a bug. It's a feature => find the regions **up** to the specified  :sob:

In [437]:
# print(final_df[final_df['area'] == 12])
print(specified_range([1990, 1997], [2,14]))

       Year  Week    SMN     SMT    VCI    TCI    VHI  empty  area
2577   1990   1.0  0.083  267.82  37.24  21.50  29.37    NaN     6
2578   1990   2.0  0.081  268.63  35.03  19.14  27.09    NaN     6
2579   1990   3.0  0.080  269.13  33.27  20.09  26.68    NaN     6
2580   1990   4.0  0.087  270.65  37.61  15.90  26.75    NaN     6
2581   1990   5.0  0.098  272.82  44.32   8.98  26.65    NaN     6
...     ...   ...    ...     ...    ...    ...    ...    ...   ...
57269  1997  48.0  0.057  264.55  31.73  41.33  36.53    NaN     4
57270  1997  49.0  0.051  262.16  30.57  40.40  35.49    NaN     4
57271  1997  50.0  0.048  260.26  31.98  39.42  35.70    NaN     4
57272  1997  51.0  0.046  258.99  36.53  41.47  39.00    NaN     4
57273  1997  52.0  0.045  258.48  44.46  42.56  43.51    NaN     4

[5161 rows x 9 columns]

### 4.3

- For the entire dataset, identify the years during which extreme drought affected more than the specified percentage of regions in Ukraine (20% of regions - 5 regions out of 25). Return years, names of regions with extreme droughts and the VHI value;

- VHI < 15 – посуха, інтенсивність якої від середньої до надзвичайної;
- creat dataFrame with mead values of VHI for every year and region

In [438]:
def droughts(percent):
    result = []
    count_obl_all = len(final_df['area'].unique())
    count_obl = int((percent/100)*count_obl_all)

    for i in final_df['Year'].unique():
        arr_year = final_df[final_df['Year'] == i]
        affected_regions = (arr_year['VHI'] < 40).groupby(arr_year['area']).any()

        if  affected_regions.sum() > count_obl:
            result.append(i)
    
    return result

    print(count_obl)

In [439]:
print(droughts(20))

[np.int64(1982), np.int64(1983), np.int64(1984), np.int64(1985), np.int64(1986), np.int64(1987), np.int64(1988), np.int64(1989), np.int64(1990), np.int64(1991), np.int64(1992), np.int64(1993), np.int64(1994), np.int64(1995), np.int64(1996), np.int64(1997), np.int64(1998), np.int64(1999), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]