# Laboratory work №4

## Part 1

### Prepare to lab & modules

In [39]:
import timeit
import os
from os import walk
import urllib.request
from pathlib import Path
from datetime import datetime

import pandas as pd
import numpy as np

from io import StringIO

In [40]:
file_path = './household_power_consumption_l4.txt'

# df['Time'] = df['Time'].dt.time

Read a comma-separated values (csv) file into num_dfFrame.

In [41]:
def readind_text_pandas(file_path):
    # dtype_dict = {'Date': 'str', 'Time': 'str', 'Global_active_power' : 'float', 'Global_reactive_power': 'float', 'Voltage': 'float', 'Global_intensity':'float', 'Sub_metering_1': 'float', 'Sub_metering_2': 'float', 'Sub_metering_3': 'float'}
    headers = ['Date','Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
    df = pd.read_csv(file_path, sep=';', header=1, names=headers, na_values='?', low_memory=False)
    return df

In [42]:
df_p = readind_text_pandas(file_path)
df_p

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
1,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
3,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
4,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
...,...,...,...,...,...,...,...,...,...
2075253,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075254,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075255,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075256,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

Importing num_df with genfromtxt

In [43]:
def readind_text_numpy(file_path):
    types = [("Date", "U10"), ("Time", "U8"), ("Global_active_power", "float64"), ("Global_reactive_power", "float64"), ("Voltage",  "float64"),
              ("Global_intensity", "float64"), ("Sub_metering_1", "float64"), 
              ("Sub_metering_2", "float64"), ("Sub_metering_3", "float64")]
    
    headers = ['Date','Time', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
    num_df = np.genfromtxt(file_path, missing_values="?", delimiter=';', dtype=types, encoding="UTF-8", names=headers, skip_header=1, filling_values=0)

    return num_df

In [44]:
num_df = readind_text_numpy(file_path)
num_df

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

### pandas

In [45]:
df_p.isnull().sum()

# df_p.dtypes

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [46]:
df_p['Date'] = pd.to_datetime(df_p['Date'], format = "%d/%m/%Y")
# df_p['Time'] = pd.to_datetime(df_p['Time'], format='%H:%M:%S').dt.time
df_p['Time'] = pd.to_datetime(df_p['Time'], format='%H:%M:%S').dt.time
# df_p = df_p.astype({'Global_reactive_power': 'float'})
df_p.dtypes

Date                     datetime64[ns]
Time                             object
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

In [47]:

# df_p['Global_active_power'] = df_p['Global_active_power'].fillna(df_p.groupby('Date')['Global_active_power'].transform('median'))


# df_p['Global_reactive_power'] = df_p['Global_reactive_power'].fillna(df_p.groupby('Date')['Global_reactive_power'].transform('median'))

# df_p['Global_reactive_power'] = pd.to_numeric(df_p['Global_reactive_power'])
# df_p['Global_reactive_power'] = df_p['Global_reactive_power'].fillna(df_p.groupby('Date')['Global_reactive_power'].transform('median'))

name_col = df_p.columns.values
names = name_col.tolist()
names_arr = names[2:]

for column in names_arr:
    df_p[column] = df_p[column].fillna(df_p[column].median())
    print(column)

df_p.isnull().sum()

Global_active_power
Global_reactive_power
Voltage
Global_intensity
Sub_metering_1
Sub_metering_2
Sub_metering_3

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [48]:
name_col = df_p.columns.values

name = name_col.tolist()
names = name[2:]
a = df_p.shape[0]
b = len(df_p)
print(names)
print(a)
print(b)

['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
2075258
2075258

### Select all records with a total active power consumption is more than 5 kW.

In [49]:
def active_more_than(a:float):
    df_active = df_p[df_p['Global_active_power'] > a]['Global_active_power']
    print(df_active)
    print(df_active.shape[0])

In [50]:
active_more_than(5)

0          5.360
1          5.374
2          5.388
10         5.412
11         5.224
           ...
2069355    5.408
2069356    5.528
2071585    5.172
2071586    5.750
2072996    5.074
Name: Global_active_power, Length: 17547, dtype: float64
17547

In [51]:
def active_more_than_n(a:float):
    return num_df[num_df['Global_active_power'] > a]['Global_active_power']

In [52]:
active_more_than_n(5)

array([5.36 , 5.374, 5.388, ..., 5.172, 5.75 , 5.074])

### Select all records with a voltage higher than 235 V.

In [53]:
def voltage_higher(a:float):
    df_volt = df_p[df_p['Voltage'] > a]['Voltage']
    print(df_volt)
    print(df_volt.shape[0])

In [54]:
voltage_higher(235)

3          235.68
4          235.02
5          235.09
6          235.22
13         235.24
            ...
2075253    240.43
2075254    240.00
2075255    239.82
2075256    239.70
2075257    239.55
Name: Voltage, Length: 1978470, dtype: float64
1978470

In [55]:
def voltage_higher_n(a:float):
    return num_df[num_df['Voltage'] > a]['Voltage']

In [56]:
voltage_higher_n(235)

array([235.68, 235.02, 235.09, ..., 239.82, 239.7 , 239.55])

### Select all the records with a current consumption of 19-20 A, and identify those where the washing machine and refrigerators consume more than the boiler and air conditioner.

In [57]:
def function_3():
    df_f3 = df_p[(df_p['Global_intensity'] > 19) & (df_p['Global_intensity'] < 20)]
    # print(df_f3)
    # print(df_f3.shape[0])

    df_f3_one_more = df_f3[df_f3['Sub_metering_2'] > df_f3['Sub_metering_3']][['Sub_metering_2', 'Sub_metering_3', 'Global_intensity']]

    print(df_f3_one_more)
    print(df_f3_one_more.shape[0])

In [58]:
function_3()

         Sub_metering_2  Sub_metering_3  Global_intensity
459                13.0             0.0              19.6
463                27.0             0.0              19.6
474                36.0             0.0              19.4
475                35.0             0.0              19.4
476                36.0             0.0              19.4
...                 ...             ...               ...
2071587            38.0            16.0              19.6
2071588            39.0            17.0              19.8
2071589            39.0            18.0              19.8
2071590            40.0            17.0              19.4
2071592            39.0            17.0              19.4

[1678 rows x 3 columns]
1678

In [59]:
def function_3_n():
    num_df_f3 = num_df[(num_df['Global_intensity'] > 19) & (num_df['Global_intensity'] < 20)]

    df_f3_one_more = num_df_f3[num_df_f3['Sub_metering_2'] > num_df_f3['Sub_metering_3']][['Sub_metering_2', 'Sub_metering_3', 'Global_intensity']]

    return df_f3_one_more

In [60]:
function_3_n()

array([(13.,  0., 19.6), (27.,  0., 19.6), (36.,  0., 19.4), ...,
       (39., 18., 19.8), (40., 17., 19.4), (39., 17., 19.4)],
      dtype={'names': ['Sub_metering_2', 'Sub_metering_3', 'Global_intensity'], 'formats': ['<f8', '<f8', '<f8'], 'offsets': [112, 120, 96], 'itemsize': 128})

### Randomly select 500,000 records (without duplicate sample items) and calculate the average values of all 3 groups electricity consumption

In [61]:
def function_4(a:int):
    
    df_p4 = df_p.sample(n=a, replace=False)
    # print(df_p4)

    mean_v1 = df_p4['Sub_metering_1'].mean()
    mean_v2 = df_p4['Sub_metering_2'].mean()
    mean_v3 = df_p4['Sub_metering_3'].mean()


    return(f'Mean for Sub_metering_1: {mean_v1}, for Sub_metering_2: {mean_v2}, for Sub_metering_3: {mean_v3}')

In [62]:
function_4(5000)

'Mean for Sub_metering_1: 1.1202, for Sub_metering_2: 1.404, for Sub_metering_3: 6.339'

In [63]:
def function_4_n(a:int):

    n_arr = np.random.choice(len(num_df), a, replace=False)
    
    sampled_num_df = num_df[n_arr]
    
    mean_v1 = np.mean(sampled_num_df['Sub_metering_1'])
    mean_v2 = np.mean(sampled_num_df['Sub_metering_2'])
    mean_v3 = np.mean(sampled_num_df['Sub_metering_3'])

    # print(np.isnan(num_df['Sub_metering_1']))
    return f'Mean for Sub_metering_1: {mean_v1}, for Sub_metering_2: {mean_v2}, for Sub_metering_3: {mean_v3}'

In [64]:
function_4_n(500_000)

'Mean for Sub_metering_1: 1.12188, for Sub_metering_2: 1.282448, for Sub_metering_3: 6.374922'

### Select those records that after 18:00 consume more than 6 kW per minute on average, among the selected records identify those in which the main electricity consumption in the specified period of time is accounted for by the washing machine, dryer, refrigerator and lighting (group 2 is the largest), and then select every third result from the first half and every fourth result from the second half.

In [65]:
def function_5():
    df_p5 = df_p[(df_p['Time'] > pd.to_datetime('18:00:00').time()) & (df_p['Global_active_power'] > 6) & 
                 (df_p['Sub_metering_2'] > df_p['Sub_metering_3']) & (df_p['Sub_metering_2'] > df_p['Sub_metering_1'])]
    count = df_p5.shape[0] //2
    count_df = df_p5.sample(frac=1).reset_index(drop=True)
    df_p5_1 = count_df.iloc[:count]
    df_p5_2 = count_df.iloc[count:]

    df_p5_1 = df_p5_1.iloc[::3]
    df_p5_2 = df_p5_2.iloc[::4]


    return pd.concat([df_p5_1, df_p5_2])

In [66]:
function_5()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2009-12-14,18:44:00,6.642,0.540,237.37,28.0,0.0,38.0,18.0
3,2010-01-23,18:04:00,6.424,0.066,232.89,27.4,0.0,69.0,1.0
6,2008-11-04,20:44:00,7.682,0.440,231.94,33.0,0.0,72.0,16.0
9,2007-01-21,19:32:00,7.948,0.354,224.68,35.4,0.0,67.0,15.0
12,2009-01-10,19:58:00,8.680,0.000,231.86,37.4,36.0,71.0,16.0
...,...,...,...,...,...,...,...,...,...
1041,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
1045,2007-03-04,19:34:00,10.670,0.516,230.20,46.4,37.0,69.0,16.0
1049,2010-01-23,18:09:00,6.920,0.210,232.68,29.6,0.0,71.0,1.0
1053,2010-03-07,18:15:00,6.554,0.324,234.20,28.4,0.0,71.0,1.0
1057,2007-12-22,20:54:00,6.988,0.372,234.78,30.0,11.0,36.0,0.0

In [67]:
def function_5_n():

    num_2 = num_df[
        (num_df['Time'] > '18:00:00') &
        (num_df['Global_active_power'] > 6) &
        (num_df['Sub_metering_2'] > num_df['Sub_metering_3']) &
        (num_df['Sub_metering_2'] > num_df['Sub_metering_1'])]

    count = len(num_2) //2

    count_i = np.random.permutation(len(num_2))
    count_df = num_2[count_i]

    df_p5_1 = count_df[:count]
    df_p5_2 = count_df[count:]

    df_p5_1 = df_p5_1[::3]
    df_p5_2 = df_p5_2[::4]

    return np.concatenate([df_p5_1, df_p5_2])

In [68]:
function_5_n()

array([('23/1/2010', '18:12:00',  6.994, 0.234, 233.12, 30. ,  0., 71.,  1.),
       ('17/6/2007', '18:12:00',  6.238, 0.372, 235.93, 26.4,  0., 33., 17.),
       ('7/1/2007', '18:09:00',  6.326, 0.15 , 231.77, 27.6,  0., 62., 17.),
       ('28/12/2006', '21:21:00',  7.124, 0.148, 234.33, 30.4, 37., 38., 17.),
       ('10/1/2009', '19:53:00',  6.72 , 0.154, 233.98, 28.6,  0., 72., 17.),
       ('20/1/2007', '19:15:00',  6.252, 0.414, 229.16, 27.2,  0., 35., 16.),
       ('22/2/2007', '21:45:00',  6.288, 0.114, 230.22, 27.2,  1., 30., 16.),
       ('13/3/2008', '20:43:00',  6.71 , 0.08 , 229.71, 29.6, 16., 34., 16.),
       ('15/2/2007', '19:51:00',  6.408, 0.46 , 234.07, 27.6,  0., 36., 17.),
       ('13/10/2007', '20:09:00',  6.254, 0.124, 232.24, 26.8,  0., 35., 16.),
       ('4/11/2008', '20:53:00',  6.426, 0.244, 233.21, 28. ,  0., 60., 17.),
       ('3/6/2007', '22:01:00',  6.226, 0.188, 228.46, 27.2,  0., 70.,  0.),
       ('3/5/2009', '20:29:00',  7.856, 0.128, 234.02, 33.6,  2., 34., 21.),
       ('3/6/2007', '21:58:00',  6.184, 0.226, 229.09, 27. ,  0., 70.,  0.),
       ('7/1/2007', '18:35:00',  7.208, 0.3  , 227.85, 31.6,  0., 35., 16.),
       ('22/12/2007', '20:55:00',  6.538, 0.376, 235.43, 27.8,  0., 36.,  0.),
       ('30/11/2008', '20:20:00',  8.556, 0.06 , 234.09, 36.8, 36., 54., 17.),
       ('20/11/2010', '18:37:00',  6.31 , 0.412, 229.89, 27.8, 15., 35., 16.),
       ('4/11/2008', '18:54:00',  7.242, 0.194, 227.78, 31.8,  0., 69.,  0.),
       ('20/2/2007', '20:26:00',  6.756, 0.084, 234.93, 29. ,  0., 64., 17.),
       ('20/11/2010', '18:28:00',  6.882, 0.186, 229.77, 30.4, 30., 35., 16.),
       ('5/4/2007', '20:46:00',  6.164, 0.242, 234.26, 26.4,  1., 37., 17.),
       ('12/10/2008', '20:17:00',  7.654, 0.192, 229.87, 33.2,  0., 70., 17.),
       ('15/2/2007', '19:35:00',  6.926, 0.6  , 233.35, 29.8,  0., 36., 17.),
       ('28/12/2006', '21:17:00',  7.04 , 0.13 , 233.27, 30.2, 37., 38., 17.),
       ('21/1/2007', '19:25:00',  7.532, 0.25 , 225.25, 33.4,  0., 67., 16.),
       ('22/2/2009', '20:06:00',  6.868, 0.108, 236.4 , 29. ,  0., 73., 17.),
       ('16/4/2007', '21:28:00',  6.026, 0.22 , 236.4 , 25.4,  1., 40., 17.),
       ('22/2/2007', '19:34:00',  6.16 , 0.08 , 232.71, 26.4,  0., 36., 16.),
       ('30/12/2009', '19:26:00',  6.154, 0.484, 237.53, 26. ,  0., 74.,  1.),
       ('4/3/2007', '19:44:00',  6.312, 0.144, 231.98, 27.2,  0., 71., 16.),
       ('29/12/2006', '21:25:00',  6.086, 0.   , 229.04, 26.6,  0., 69.,  0.),
       ('1/4/2007', '18:45:00',  6.162, 0.284, 234.09, 26.2,  0., 73., 17.),
       ('4/3/2007', '21:29:00',  6.854, 0.   , 233.34, 29.2,  0., 71., 16.),
       ('20/2/2007', '20:36:00',  6.956, 0.182, 231.43, 30. ,  0., 71., 16.),
       ('15/11/2009', '18:46:00',  6.926, 0.37 , 230.64, 30. ,  0., 69., 17.),
       ('22/2/2009', '21:01:00',  6.744, 0.392, 237.39, 28.4,  1., 73.,  0.),
       ('5/3/2007', '19:25:00',  6.612, 0.424, 234.32, 28.6, 26., 35.,  0.),
       ('23/1/2010', '18:34:00',  6.238, 0.602, 233.61, 26.8,  0., 35., 28.),
       ('2/2/2008', '19:44:00',  6.052, 0.56 , 230.1 , 26.4,  1., 35., 16.),
       ('22/2/2009', '21:16:00',  7.306, 0.294, 233.69, 31.4, 37., 49.,  0.),
       ('13/10/2007', '20:06:00',  6.388, 0.262, 231.98, 27.6,  0., 34., 16.),
       ('30/11/2008', '20:12:00',  7.852, 0.   , 233.07, 33.6,  1., 71., 16.),
       ('3/4/2007', '19:34:00',  6.552, 0.314, 232.73, 28.4, 14., 37., 16.),
       ('8/6/2008', '21:49:00',  6.838, 0.05 , 235.1 , 29. ,  0., 73., 18.),
       ('23/11/2008', '18:44:00',  6.582, 0.186, 232.4 , 28.6,  0., 20., 17.),
       ('19/2/2007', '19:52:00',  6.04 , 0.28 , 230.41, 26.4,  0., 34., 16.),
       ('17/6/2007', '18:10:00',  6.436, 0.496, 235.47, 27.4,  0., 35., 17.),
       ('20/4/2008', '21:03:00',  7.798, 0.328, 231.76, 33.6,  1., 71., 17.),
       ('22/2/2007', '19:33:00',  6.178, 0.166, 231.73, 26.6,  0., 36., 17.),
       ('9/12/2007', '19:17:00',  6.29 , 0.312, 230.31, 27.2,  0., 34., 16.),
       ('15/1/2010', '20:52:00',  7.77 , 0.274, 236.08, 33. , 10., 73., 18.),
       ('12/4/2008', '18:19:00',  6.568, 0.394, 237.7 , 27.6, 34., 36., 18.),
       ('23/12/2007', '19:36:00',  6.094, 0.64 , 233.53, 26.2,  1., 37., 16.),
       ('20/11/2010', '18:34:00',  6.266, 0.36 , 229.82, 27.6, 14., 35., 16.),
       ('31/3/2009', '20:42:00',  6.158, 0.   , 236.02, 26.2,  0., 67., 17.),
       ('22/12/2007', '21:03:00',  7.486, 0.386, 234.43, 32. ,  1., 37., 17.),
       ('3/6/2008', '22:51:00',  6.114, 0.194, 232.04, 26.2,  1., 72.,  0.),
       ('2/7/2007', '20:35:00',  6.39 , 0.436, 235.11, 27.2,  0., 70.,  0.),
       ('22/2/2007', '21:16:00',  7.79 , 0.   , 227.04, 34.6, 35., 43., 16.),
       ('17/4/2009', '20:52:00',  6.914, 0.092, 235.26, 29.4,  0., 72., 18.),
       ('13/10/2007', '19:57:00',  6.188, 0.334, 231.54, 26.8,  0., 34., 17.),
       ('1/1/2009', '20:51:00',  6.132, 0.18 , 238.56, 26.2,  0., 42.,  0.),
       ('20/2/2008', '19:53:00',  6.028, 0.274, 238.34, 26.8, 21., 27.,  0.),
       ('15/2/2007', '19:45:00',  6.688, 0.432, 233.  , 28.8,  0., 36., 17.),
       ('29/12/2006', '21:29:00',  6.66 , 0.   , 229.  , 29. ,  0., 69., 17.),
       ('23/11/2008', '18:41:00',  6.744, 0.272, 232.09, 29.2,  0., 27., 16.),
       ('24/11/2009', '19:41:00',  9.042, 0.378, 233.28, 39. , 36., 55., 18.),
       ('15/1/2010', '20:45:00',  6.212, 0.296, 238.69, 26.2,  8., 36., 19.),
       ('29/12/2006', '22:28:00',  6.3  , 0.294, 236.08, 26.8,  0., 65., 17.),
       ('20/11/2010', '18:33:00',  6.262, 0.382, 229.72, 27.6, 13., 35., 16.),
       ('17/3/2009', '20:25:00',  7.88 , 0.   , 236.8 , 33.2,  0., 72., 17.),
       ('29/12/2006', '21:17:00',  6.18 , 0.136, 231.12, 26.6,  0., 70.,  0.),
       ('18/5/2008', '20:34:00',  7.34 , 0.18 , 233.02, 31.4,  1., 71., 24.),
       ('29/12/2006', '22:32:00',  6.382, 0.268, 234.84, 27.2,  0., 73., 17.),
       ('23/11/2008', '21:02:00',  6.278, 0.248, 235.08, 26.8,  1., 22., 17.),
       ('18/1/2009', '20:00:00',  6.23 , 0.232, 232.37, 26.8,  0., 37., 17.),
       ('12/10/2008', '19:33:00',  6.082, 0.47 , 232.84, 26.4,  0., 37., 18.),
       ('22/1/2007', '20:24:00',  7.696, 0.208, 231.3 , 33.2,  0., 70., 16.),
       ('27/3/2010', '18:34:00',  6.618, 0.27 , 234.15, 28.2,  0., 71., 18.),
       ('8/3/2007', '20:29:00',  6.354, 0.102, 235.  , 27. ,  0., 36., 18.),
       ('29/12/2006', '22:27:00',  6.976, 0.376, 235.12, 29.6,  0., 74., 17.),
       ('20/11/2010', '18:31:00',  6.83 , 0.394, 229.39, 30.2, 24., 34., 16.),
       ('30/1/2010', '18:18:00',  6.918, 0.21 , 233.59, 29.6,  1., 71., 17.),
       ('23/11/2008', '18:09:00',  7.586, 0.37 , 230.55, 32.8,  0., 35., 16.),
       ('17/4/2009', '20:44:00',  6.79 , 0.21 , 237.03, 28.6,  0., 72., 18.),
       ('28/12/2006', '21:01:00',  7.062, 0.27 , 235.76, 30.2,  2., 65., 17.),
       ('6/3/2007', '20:55:00',  6.508, 0.124, 234.85, 27.6,  0., 38., 17.),
       ('23/11/2008', '20:30:00',  7.102, 0.172, 230.7 , 30.8,  1., 35., 16.),
       ('15/2/2007', '19:37:00',  6.906, 0.608, 233.8 , 29.6,  0., 37., 17.),
       ('22/2/2007', '21:38:00',  6.55 , 0.172, 229.38, 28.4,  2., 34., 16.),
       ('9/12/2007', '19:06:00',  6.232, 0.176, 230.79, 27. ,  0., 34., 17.),
       ('20/11/2010', '18:24:00',  9.63 , 0.058, 225.32, 42.8, 43., 66., 15.),
       ('26/9/2007', '21:23:00',  7.03 , 0.332, 231.8 , 30.4,  0., 35., 16.),
       ('4/3/2007', '19:35:00',  9.922, 0.414, 230.17, 43.2, 34., 70., 16.),
       ('29/12/2006', '21:16:00',  6.146, 0.116, 230.53, 26.6,  0., 70.,  0.),
       ('23/3/2008', '20:28:00',  7.268, 0.192, 233.61, 31. ,  0., 72., 17.),
       ('1/4/2007', '18:48:00',  6.054, 0.262, 232.81, 26. ,  1., 71., 16.),
       ('4/3/2007', '19:42:00',  6.378, 0.15 , 233.2 , 27.2,  0., 71., 17.),
       ('27/3/2010', '18:42:00',  6.73 , 0.176, 231.96, 29. ,  0., 70., 22.),
       ('15/1/2010', '20:47:00',  6.378, 0.36 , 238.9 , 27. ,  9., 37., 18.),
       ('29/12/2006', '21:20:00',  6.424, 0.116, 229.89, 27.8,  0., 69.,  0.),
       ('23/11/2008', '18:13:00',  7.624, 0.474, 229.83, 33.2,  0., 36., 16.),
       ('17/3/2009', '20:26:00',  7.204, 0.112, 237.05, 30.4,  0., 58., 18.),
       ('4/11/2008', '20:52:00',  7.298, 0.222, 231.91, 31.4,  0., 72., 17.),
       ('1/4/2007', '18:50:00',  6.274, 0.26 , 233.03, 26.8,  1., 71., 16.),
       ('4/11/2008', '20:48:00',  7.816, 0.274, 231.91, 33.6,  0., 72., 17.),
       ('20/11/2010', '18:22:00',  9.724, 0.062, 226.47, 43. , 43., 67., 16.),
       ('9/1/2007', '20:55:00',  7.654, 0.158, 233.82, 32.6,  0., 72., 17.),
       ('23/1/2010', '18:30:00',  6.166, 0.432, 234.18, 26.4,  0., 36., 20.),
       ('22/2/2009', '20:13:00',  6.706, 0.15 , 235.93, 28.4,  0., 72., 17.),
       ('22/2/2007', '19:35:00',  6.02 , 0.078, 233.27, 25.8,  0., 36., 17.),
       ('18/5/2008', '20:30:00',  6.76 , 0.236, 234.9 , 29.8,  2., 52., 28.),
       ('12/9/2007', '22:00:00',  6.18 , 0.252, 234.07, 26.4,  0., 70., 17.),
       ('6/7/2007', '21:32:00',  6.956, 0.182, 236.82, 29.4, 37., 51., 18.),
       ('16/6/2009', '18:25:00',  6.866, 0.088, 234.55, 29.4,  0., 36., 17.),
       ('30/1/2010', '18:14:00',  7.128, 0.18 , 233.87, 30.4,  1., 72., 18.),
       ('4/3/2007', '19:37:00',  6.99 , 0.38 , 232.51, 30.2,  4., 71., 16.),
       ('30/12/2009', '19:31:00',  6.158, 0.474, 237.35, 26. ,  0., 74.,  1.),
       ('20/3/2007', '21:52:00',  6.302, 0.248, 233.75, 27. ,  1., 36., 17.),
       ('8/12/2007', '20:37:00',  6.008, 0.316, 234.51, 25.6,  0., 37., 17.),
       ('10/1/2009', '19:58:00',  8.68 , 0.   , 231.86, 37.4, 36., 71., 16.),
       ('24/8/2007', '20:49:00',  8.366, 0.724, 232.79, 36. , 36., 38., 17.),
       ('30/12/2009', '19:37:00',  6.696, 0.42 , 237.59, 28.2,  0., 73.,  1.),
       ('17/6/2007', '18:07:00',  6.32 , 0.46 , 235.19, 27. ,  0., 34., 17.),
       ('17/3/2009', '20:30:00',  6.64 , 0.086, 238.21, 27.8,  0., 66., 17.),
       ('13/4/2009', '20:53:00',  6.03 , 0.178, 235.76, 25.6,  1., 73.,  1.),
       ('15/11/2009', '18:26:00',  6.488, 0.544, 230.19, 28.2,  0., 31., 17.),
       ('24/8/2007', '20:46:00',  6.444, 0.51 , 234.34, 27.8, 26., 38., 17.),
       ('13/10/2007', '20:33:00',  6.158, 0.472, 233.06, 26.6,  0., 36., 16.),
       ('23/3/2008', '20:29:00',  7.222, 0.202, 233.71, 30.8,  0., 73., 17.),
       ('28/12/2007', '18:02:00',  6.408, 0.238, 236.3 , 27.2,  0., 59., 17.),
       ('2/5/2010', '19:10:00',  7.33 , 0.   , 232.51, 31.6, 27., 72., 17.),
       ('22/9/2008', '20:21:00',  6.706, 0.108, 233.99, 28.6,  1., 70., 17.),
       ('16/1/2009', '20:30:00',  7.1  , 0.51 , 235.31, 30.8, 27., 28., 17.),
       ('16/7/2008', '21:01:00',  6.26 , 0.336, 236.12, 26.4,  0., 74., 18.),
       ('4/12/2007', '21:47:00',  6.018, 0.   , 238.03, 25.2,  0., 36., 17.),
       ('22/12/2007', '21:05:00',  6.992, 0.394, 235.22, 29.8,  1., 27., 17.),
       ('20/4/2008', '21:12:00',  6.378, 0.3  , 232.96, 27.4,  1., 36., 17.),
       ('9/12/2007', '19:24:00',  6.252, 0.296, 230.33, 27.2,  0., 34., 17.),
       ('4/12/2007', '21:46:00',  6.028, 0.   , 237.73, 25.4,  0., 36., 17.),
       ('26/9/2007', '21:26:00',  6.014, 0.378, 233.55, 25.8,  0., 36., 16.),
       ('24/11/2009', '19:42:00',  8.12 , 0.48 , 233.89, 35. , 37., 48., 17.),
       ('7/1/2007', '18:15:00',  7.002, 0.55 , 231.83, 30.8,  0., 36., 17.),
       ('26/5/2010', '19:18:00',  6.53 , 0.222, 231.37, 28.2,  0., 70., 12.),
       ('20/4/2008', '21:06:00',  7.616, 0.346, 231.83, 32.8,  1., 71., 17.),
       ('13/10/2007', '20:00:00',  6.502, 0.266, 231.85, 28. ,  0., 35., 16.),
       ('28/12/2007', '18:06:00',  6.374, 0.346, 236.02, 27. ,  0., 67., 17.),
       ('17/4/2009', '20:41:00',  6.614, 0.228, 236.25, 28.4,  0., 55., 18.),
       ('9/1/2007', '20:49:00',  6.112, 0.116, 233.81, 26.2,  0., 36., 18.),
       ('29/12/2006', '21:18:00',  6.15 , 0.118, 230.77, 26.6,  0., 70.,  0.),
       ('22/9/2008', '20:16:00',  6.646, 0.212, 230.75, 28.8,  1., 68., 17.),
       ('23/1/2010', '18:32:00',  6.694, 0.566, 233.15, 28.8,  0., 39., 27.),
       ('22/12/2007', '20:50:00',  6.226, 0.382, 233.35, 26.8,  1., 35.,  0.),
       ('10/1/2009', '19:56:00',  8.716, 0.06 , 231.62, 37.6, 36., 71., 16.),
       ('9/12/2007', '19:08:00',  6.202, 0.178, 230.9 , 26.8,  0., 34., 17.),
       ('2/2/2008', '19:51:00',  7.302, 0.476, 230.7 , 32. , 15., 36., 16.),
       ('9/1/2007', '21:00:00',  7.54 , 0.152, 233.88, 32.2,  0., 72., 16.),
       ('12/10/2008', '19:32:00',  6.394, 0.486, 233.29, 27.6,  0., 36., 17.),
       ('31/3/2009', '20:39:00',  6.506, 0.   , 234.28, 27.6,  0., 71., 16.),
       ('13/10/2007', '20:11:00',  8.702, 0.106, 229.34, 37.8,  0., 34., 17.),
       ('22/2/2007', '21:11:00',  9.248, 0.   , 224.48, 41.2, 34., 66., 15.),
       ('12/11/2007', '20:33:00',  7.85 , 0.372, 231.59, 33.8,  0., 71., 17.),
       ('14/6/2007', '20:04:00',  6.476, 0.538, 237.66, 27.2, 38., 39., 17.),
       ('25/6/2007', '21:30:00',  6.102, 0.07 , 233.28, 26. ,  0., 71., 16.),
       ('20/2/2007', '20:31:00',  7.204, 0.09 , 231.78, 31. ,  0., 71., 16.),
       ('17/3/2009', '20:23:00',  7.058, 0.116, 237.27, 30. ,  0., 64., 18.),
       ('9/12/2007', '19:14:00',  6.284, 0.292, 230.12, 27.2,  0., 34., 16.),
       ('17/3/2009', '20:29:00',  6.286, 0.106, 238.09, 26.4,  0., 57., 18.),
       ('27/3/2010', '18:35:00',  6.6  , 0.252, 234.02, 28.2,  0., 71., 17.),
       ('23/12/2007', '19:41:00',  6.312, 0.442, 235.12, 27.2, 16., 39., 17.),
       ('1/1/2009', '20:47:00',  7.054, 0.368, 236.69, 30. ,  0., 73.,  0.),
       ('22/2/2009', '21:03:00',  6.74 , 0.406, 237.9 , 28.4,  1., 73.,  0.),
       ('22/2/2007', '21:37:00',  6.222, 0.192, 229.33, 27.2,  1., 27., 17.),
       ('23/3/2008', '20:30:00',  6.952, 0.178, 234.24, 29.6,  0., 72., 17.),
       ('31/3/2009', '20:40:00',  6.552, 0.   , 234.97, 27.8,  0., 72., 17.),
       ('22/11/2008', '21:49:00',  7.266, 0.058, 229.68, 31.6, 35., 36., 16.),
       ('16/12/2006', '18:06:00',  6.752, 0.186, 232.12, 29. ,  0., 36., 17.),
       ('30/1/2010', '18:42:00',  6.814, 0.378, 235.08, 29. , 36., 38., 18.),
       ('23/11/2008', '20:20:00',  6.87 , 0.356, 232.34, 29.6,  1., 34., 16.),
       ('25/6/2007', '21:25:00',  6.254, 0.108, 234.64, 26.6,  0., 72., 17.),
       ('13/10/2007', '20:12:00',  6.888, 0.136, 231.11, 30.2,  0., 34., 16.),
       ('4/11/2008', '20:41:00',  6.634, 0.398, 231.43, 29. ,  0., 54., 16.),
       ('31/3/2007', '19:59:00',  6.566, 0.536, 236.24, 28. ,  0., 37., 17.),
       ('30/1/2010', '20:17:00',  6.914, 0.572, 234.74, 29.6,  0., 36., 18.),
       ('22/2/2009', '20:16:00',  6.68 , 0.306, 238.11, 28. ,  0., 75., 18.),
       ('9/12/2007', '19:19:00',  6.272, 0.31 , 229.89, 27.2,  0., 34., 16.),
       ('20/3/2007', '21:45:00',  6.134, 0.28 , 232.25, 26.4,  1., 36., 16.),
       ('28/12/2007', '18:04:00',  7.06 , 0.214, 235.42, 30. ,  0., 73., 17.),
       ('18/5/2008', '20:32:00',  7.608, 0.25 , 234.4 , 32.8,  1., 63., 28.),
       ('23/11/2008', '18:21:00',  6.432, 0.168, 231.56, 27.8,  0., 33., 16.),
       ('28/12/2006', '21:06:00',  7.184, 0.   , 235.7 , 30.4,  2., 73., 17.),
       ('23/12/2007', '19:29:00',  9.686, 0.41 , 231.01, 42. , 36., 64., 17.),
       ('4/3/2007', '19:45:00',  6.372, 0.142, 233.3 , 27.2,  0., 71., 17.),
       ('23/11/2008', '18:55:00',  6.57 , 0.382, 232.17, 28.2,  0., 40., 17.),
       ('19/2/2007', '19:51:00',  6.532, 0.364, 230.11, 28.4,  0., 34., 16.),
       ('2/5/2010', '19:11:00',  7.044, 0.048, 232.93, 30.4, 26., 72., 13.),
       ('12/11/2007', '20:34:00',  7.726, 0.362, 231.68, 33.2,  0., 72., 16.),
       ('19/2/2007', '18:42:00',  6.016, 0.224, 231.  , 26. ,  0., 35., 17.),
       ('7/1/2007', '18:08:00',  6.74 , 0.   , 230.78, 29.2,  0., 70., 16.),
       ('23/11/2008', '18:06:00',  7.514, 0.344, 229.27, 32.8,  0., 34., 16.),
       ('3/7/2008', '21:40:00',  6.058, 0.   , 234.9 , 25.8,  1., 71., 18.),
       ('13/10/2007', '19:59:00',  6.402, 0.244, 231.54, 27.6,  0., 34., 17.),
       ('30/12/2009', '19:34:00',  7.014, 0.588, 238.  , 29.4,  0., 74.,  1.),
       ('20/1/2007', '19:28:00',  6.11 , 0.272, 232.12, 26.4,  0., 32., 17.),
       ('21/2/2007', '19:46:00',  6.694, 0.292, 232.04, 28.8,  0., 35.,  0.),
       ('2/2/2008', '19:42:00',  7.076, 0.546, 228.62, 31.2, 21., 35., 17.),
       ('22/12/2007', '20:54:00',  6.988, 0.372, 234.78, 30. , 11., 36.,  0.),
       ('12/11/2007', '20:38:00',  7.77 , 0.368, 233.43, 33.2,  0., 73., 16.),
       ('31/3/2007', '20:05:00',  6.21 , 0.526, 235.8 , 26.4,  0., 37., 17.),
       ('30/11/2008', '20:11:00',  7.454, 0.   , 232.81, 32. ,  1., 71., 17.),
       ('4/11/2008', '21:38:00',  6.546, 0.23 , 236.07, 27.6,  0., 73., 17.),
       ('31/3/2009', '20:36:00',  6.522, 0.13 , 233.23, 27.8,  0., 71., 17.),
       ('4/3/2007', '21:33:00',  6.75 , 0.   , 233.09, 28.8,  0., 71., 17.),
       ('23/11/2008', '20:35:00',  6.616, 0.164, 233.05, 28.4,  1., 37., 17.),
       ('28/12/2006', '21:14:00',  9.118, 0.108, 231.18, 39.4, 36., 72., 16.),
       ('23/11/2008', '20:27:00',  7.196, 0.202, 232.66, 30.8,  1., 36., 17.),
       ('25/6/2007', '21:28:00',  6.104, 0.074, 233.61, 26. ,  0., 72., 17.),
       ('23/12/2007', '19:10:00',  6.764, 0.244, 231.21, 29.2,  0., 70.,  0.),
       ('20/4/2008', '21:08:00',  6.366, 0.368, 232.97, 27.4,  2., 37., 18.),
       ('22/2/2009', '21:14:00',  7.246, 0.286, 233.3 , 31.4, 37., 49.,  0.),
       ('12/9/2007', '22:03:00',  6.156, 0.266, 233.68, 26.2,  0., 72., 17.),
       ('24/11/2009', '19:40:00',  8.422, 0.376, 234.06, 36.2, 37., 48., 17.),
       ('23/11/2008', '18:38:00',  6.428, 0.336, 232.45, 27.8,  0., 21., 17.),
       ('18/11/2009', '19:53:00',  6.014, 0.594, 237.74, 25.6,  0., 30., 19.),
       ('23/11/2008', '20:52:00',  6.13 , 0.402, 235.94, 26. ,  1., 34., 17.),
       ('16/7/2008', '21:02:00',  6.324, 0.328, 235.59, 26.8,  0., 73., 18.),
       ('9/12/2007', '19:25:00',  6.34 , 0.31 , 229.92, 27.6,  0., 34., 16.),
       ('26/6/2007', '22:26:00',  7.29 , 0.132, 233.21, 31.2, 36., 38., 17.),
       ('31/3/2009', '20:34:00',  6.682, 0.148, 232.77, 28.6,  0., 70., 17.),
       ('30/11/2008', '20:17:00', 10.074, 0.06 , 231.41, 43.4, 36., 70., 16.),
       ('30/1/2010', '18:20:00',  7.044, 0.19 , 233.33, 30.2,  2., 71., 18.),
       ('28/12/2007', '18:01:00',  7.228, 0.284, 235.22, 30.6,  0., 73., 17.),
       ('22/2/2007', '21:04:00',  8.616, 0.086, 227.4 , 38. , 35., 55., 16.),
       ('30/12/2009', '20:38:00',  7.46 , 0.094, 234.16, 32. , 34., 36., 18.),
       ('7/3/2010', '18:15:00',  6.554, 0.324, 234.2 , 28.4,  0., 71.,  1.),
       ('23/2/2010', '22:01:00',  6.546, 0.092, 234.48, 27.8,  0., 73., 17.),
       ('15/1/2010', '20:57:00',  6.422, 0.462, 237.35, 28. , 10., 52., 18.),
       ('23/11/2008', '20:34:00',  6.914, 0.138, 232.12, 29.8,  2., 35., 17.),
       ('3/7/2008', '21:44:00',  7.066, 0.   , 234.33, 30.4, 36., 52., 18.),
       ('31/3/2009', '20:38:00',  6.444, 0.   , 233.25, 27.6,  0., 71., 17.),
       ('9/1/2007', '20:56:00',  8.39 , 0.106, 233.83, 36. ,  0., 72., 17.),
       ('2/2/2008', '19:39:00',  7.9  , 0.578, 230.22, 34.8, 21., 35., 17.),
       ('8/6/2008', '21:41:00',  6.878, 0.158, 235.67, 29.2,  0., 73., 17.),
       ('20/3/2007', '21:35:00',  6.11 , 0.242, 234.55, 26. ,  1., 35., 16.),
       ('18/5/2008', '20:36:00',  7.032, 0.   , 233.97, 30. , 34., 36., 17.),
       ('30/11/2008', '20:26:00',  7.746, 0.192, 234.16, 33. , 36., 37., 17.),
       ('23/2/2009', '22:06:00',  7.12 , 0.214, 233.28, 30.4,  2., 70., 17.),
       ('24/3/2007', '18:59:00',  6.978, 0.286, 231.41, 30.6,  0., 34., 17.),
       ('20/4/2008', '21:40:00',  6.4  , 0.126, 232.68, 27.4, 35., 36., 17.),
       ('20/11/2010', '18:23:00',  9.656, 0.068, 225.43, 42.8, 44., 67., 16.),
       ('22/2/2009', '20:14:00',  6.524, 0.182, 236.37, 27.6,  0., 73., 17.),
       ('2/1/2009', '18:35:00',  7.186, 0.11 , 234.72, 30.8, 29., 36., 17.),
       ('20/10/2008', '20:02:00',  6.124, 0.054, 234.09, 26.2,  0., 37., 18.),
       ('20/11/2010', '18:25:00',  9.648, 0.066, 225.41, 42.8, 44., 67., 16.),

## Measure the Execution Time of a Program

In [69]:

def time_measure(func, arg):    
    if arg == 0:
        print(f'Time fot func {func} is: {timeit.timeit(lambda: func(), setup="pass",number=1)} second')
    else:
        print(f'Time fot func {func} is: {timeit.timeit(lambda: func(arg), setup="pass",number=1)} second')

In [70]:
time_measure(readind_text_pandas,file_path)
# time_measure(readind_text_numpy,file_path)

time_measure(active_more_than, 5)
time_measure(active_more_than_n, 5)

time_measure(voltage_higher, 235)
time_measure(voltage_higher_n, 235)

time_measure(function_3, 0)
time_measure(function_3_n, 0)

time_measure(function_4, 5000)
time_measure(function_4_n, 5000)

# переробити цю

Time fot func <function readind_text_pandas at 0x16a55b560> is: 2.1389244650199544 second
0          5.360
1          5.374
2          5.388
10         5.412
11         5.224
           ...
2069355    5.408
2069356    5.528
2071585    5.172
2071586    5.750
2072996    5.074
Name: Global_active_power, Length: 17547, dtype: float64
17547
Time fot func <function active_more_than at 0x16a558360> is: 0.00760644901311025 second
Time fot func <function active_more_than_n at 0x16a55b880> is: 0.022965289012063295 second
3          235.68
4          235.02
5          235.09
6          235.22
13         235.24
            ...
2075253    240.43
2075254    240.00
2075255    239.82
2075256    239.70
2075257    239.55
Name: Voltage, Length: 1978470, dtype: float64
1978470
Time fot func <function voltage_higher at 0x16a5593a0> is: 0.18052117500337772 second
Time fot func <function voltage_higher_n at 0x16a55b7e0> is: 0.36729306500637904 second
         Sub_metering_2  Sub_metering_3  Global_intensity
459                13.0             0.0              19.6
463                27.0             0.0              19.6
474                36.0             0.0              19.4
475                35.0             0.0              19.4
476                36.0             0.0              19.4
...                 ...             ...               ...
2071587            38.0            16.0              19.6
2071588            39.0            17.0              19.8
2071589            39.0            18.0              19.8
2071590            40.0            17.0              19.4
2071592            39.0            17.0              19.4

[1678 rows x 3 columns]
1678
Time fot func <function function_3 at 0x16a5582c0> is: 0.01675901500857435 second
Time fot func <function function_3_n at 0x16a55bc40> is: 0.04536948099848814 second
Time fot func <function function_4 at 0x16a558400> is: 0.15345086200977676 second
Time fot func <function function_4_n at 0x16a55b6a0> is: 0.11128951198770665 second